body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #699e69;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

main {
    padding: 20px;
}
 p{
    text-align: center;
 }
.cabinimg{
    height: 45vh ;
  
}
footer {
    background-color: #699e69;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.activity {
    margin-bottom: 20px;
}

button {
    background-color: #004d00;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}
